@model EmployeeEntity.Employee

@{
    ViewBag.Title = "Create";
}

<h2>Employee Details</h2>
@using (Html.BeginForm("Create", "ReviewScheduler", FormMethod.Post))
{
    <table cellpadding="8">
        <tr>
            <td>
                @Html.Label("Id")

            </td>
            <td>
                @Html.TextBox("Id")

            </td>

        </tr>
        <tr>
            <td>
                @Html.Label("Firstname")

            </td>
            <td>
                @Html.TextBox("Firstname")

            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Lastname")

            </td>
            <td>
                @Html.TextBox("Lastname")

            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("EmailId")

            </td>
            <td>
                @Html.TextBox("EmailId")

            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Gender")

            </td>
            <td>
                Male
                @Html.RadioButtonFor(model => model.gender, "Male")
                Female
                @Html.RadioButtonFor(model => model.gender, "Female")

            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("MobileNumber")

            </td>
            <td>
                @Html.TextBox("MobileNumber")

            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("DOB")

            </td>
            <td>
                @Html.TextBox("DOB")

            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("DOJ")

            </td>
            <td>
                @Html.TextBox("DOJ")

            </td>
        <tr>
            <td>
                @Html.Label("Username")

            </td>
            <td>
                @Html.TextBox("Username")

            </td>
        <tr>
            <td>
                @Html.Label("Password")

            </td>
            <td>
                @Html.TextBox("Password")

            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Designation")

            </td>
            <td>
                @Html.EnumDropDownListFor(model => model.designation, "Select Designation")
            </td>
        </tr>
        <tr>

            <td>
                <input type="submit" id="Submit" />

            </td>
        </tr>
    </table>
}

